# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3

# Log files
*.log
*.log.*

# Cache directory (if not intended for version control)
cache/
results/

# OS specific
.DS_Store
Thumbs.db
